.services {
    padding-bottom: 90px;
    background: #2d2e2e;
}

.services h2 {
    font-size: 30px;
    font-weight: 800;
    color: #e0a80d;
    margin-bottom: 60px;
}

.services .box {
    padding: 40px;
    margin-bottom: 30px;
    background: #212222;
}
.services .box span {
    font-size: 30px;
    color: #e0a80d;
}

.services .box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #eee;
    margin: 0;
    padding: 0;
    margin: 20px 0;
}

.services .box p {
    font-size: 14px;
    color: #bac8d3;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
