.about-me {
    padding: 130px 0;
    background: #2d2e2e;
}

.about-me img {
    padding-right: 50px;
}

.about-me h2 {
    font-size: 30px;
    font-weight: 800;
    color: #e0a80d;
}

.about-me p {
    font-size: 15px;
    font-weight: 400;
    color: #bac8d3;
    line-height: 28px;
    margin: 20px 0 40px 0;
}

.about-me .btn-1 {
    background: #e0a80d;
    border-radius: 35px;
    padding: 10px 30px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.about-me .btn-2 {
    border: 2px solid #e0a80d;
    border-radius: 35px;
    padding: 10px 50px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}