.testimonials {
    background: url('../../img/bg/testimonials-bg.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 130px 0 170px 0;
}

.testimonials h2 {
    font-size: 30px;
    font-weight: 800;
    color: #e0a80d;
}

/* Image */
.testimonials .carousel-inner .carousel-item .colon {
    margin: 30px 0 20px 0;
}

.testimonials .carousel-inner .carousel-item .team {
    width: 100px;
    height: 100px;
    border: 2px solid #e0a80d;
    border-radius: 100%;
    padding: 5px;
    margin: 20px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 14px;
    font-weight: 300;
    color: #e0a80d;
    margin-bottom: 20px;
}

.testimonials .carousel-inner .carousel-item p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
}

.testimonials .carousel-indicators {
    bottom: -40px;
}

.testimonials .carousel-indicators li {
    background-color: #b8b7b7;
    border-radius: 30px;
    height: 4px;
    width: 40px;
}


.testimonials .carousel-indicators .active {
    background-color: #ffffff;
}

.testimonials .icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  font-size: 30px;
  background-image: none;
  color: #ffffff
}