.slider {
    background: url('../../img/bg/slider-bg.png') center center no-repeat;
    height: calc(100vh - 92px);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.slider .particels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.animated-headlines .cd-headline span {
    font-size: 50px;
    font-family: 'Muli', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #e0a80d;
}


.slider .left-content .hello {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.slider .left-content h2 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    margin: 5px 0 20px 0;
}

.slider .cd-words-wrapper p{
    margin: 20px 0;
}

.slider .left-content .paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    padding-right: 20px;
}

.slider .left-content .btn {
    border: 2px solid #e0a80d;
    border-radius: 35px;
    padding: 10px 30px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    z-index: 200;
}